<!DOCTYPE html>
<html>

<head>
   <title>Formularz</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   <style>
   .panel {
      position: absolute;
      height : 100vh;
      width : 100vw;
      display:none;
   }
   .panel.enabled{
      display:block;
   }
   </style>
</head>

<body>
   <main id="main" role="main" class="flex-shrink-0">
      <div class="panel" v-bind:class="{enabled:page==0}">
            <div class="container">
               <h1 class="font-weight-bold">"{{title}}"</h1>
               <label>Wybierz godzinę seansu</label>
               <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label @click="session=s" v-for="s in sessions" class="btn btn-secondary" v-bind:class="{active:session==s}">
                     <input type="radio" name="sessions" :id="s" autocomplete="off" >{{s}}
                  </label>
               </div>
               <button class="btn btn-primary" @click="page++">dalej</button>
         </div>
      </div>
      <div class="panel" v-bind:class="{enabled:page==1}">
         <div class="container">
               <form role="form" class="form-horizontal" style="margin: 5% 5% 10%;">
                  <h1>Podsumowanie<br><span class="font-weight-bold">"{{title}}"</span></h1>
                  <div class="form-group">
                     <label for="session">Wybierz seans:</label>
                     <select v-model="session" class="form-control" id="session" v-model="session">
                        <option v-for="s in sessions">{{s}}</option>
                     </select>
                  </div>
                  <div class="form-group">
                     <label>Wybierz miejsca:</label>
                     <div class="row">
                        <div v-for="(row, rowIndex) in seats" class="col-8 btn-group btn-group-toggle" data-toggle="buttons">
                           <label v-for="(seat, seatIndex) in row" class="btn" :disabled="seat==1"
                              v-bind:class="[ seat==1 ? 'disabled' : 'btn-primary' ]"
                              @click="setNegate(selectedSeats, ''+rowIndex+'-'+seatIndex); selectedSeatsSize=selectedSeats.size;">
                              <input type="checkbox" :id="'seat-'+rowIndex+'-'+seatIndex" autocomplete="off" :disabled="seat==1">
                                 {{rowIndex+'-'+seatIndex}}
                           </label>
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <label for="discount">Zniżka:</label>
                     <select class="form-control" id="discount" v-model="discount">
                        <option v-for="d in discounts" v-bind:value="d">{{d.toString()}}</option>
                     </select>
                  </div>
                  <h3>Do zapłaty:</h3>
                  <p>{{selectedSeatsSize}}x20zł<br>
                  <span v-if="discount.value>0">-{{discount.value}}%<br></span>=>
                  <span class="font-weight-bold">{{toPay}}</span></p>
                  <div class="form-group">
                  <h3>Dane osobowe</h3>
                  </div>
                  <div class="form-group">
                     <label for="name">Imię</label>
                     <input type="text" class="form-control" id="name" v-model="name">
                  </div>
                  <div class="form-group">
                     <label for="surname">Nazwisko</label>
                     <input type="text" class="form-control" id="surname" v-model="surname">
                  </div>
                  <div class="form-group">
                     <label for="email">Email</label>
                     <input type="text" class="form-control" id="email" v-model="email">
                  </div>
                  <div class="form-group">
                     <label for="number">Numer Telefonu</label>
                     <input type="text" class="form-control" id="number" v-model="number">
                  </div>
                  <button type="submit" class="btn btn-primary">Zatwierdź</button>
               </form>
         </div>
      </div>
   </main>
   <script src="index.js"></script>
</body>

</html>